<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-back-color bg-dark ">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-white" href="#">Shopping cart</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-white">Orders</a>
          </li>
        </ul>
        <form class="d-flex">
          {{!-- <a href="" class="text-dark" style="text-decoration: none;">Log out</a> --}}
          {{!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> --}}
          <a href="/index/logout" class="btn btn-light" type="button">Logout</a>
        </form>
      </div>
    </div>
  </nav>
</header>





<section>
  <div class="container my-3">
    <div class="row">
      {{#each products}}
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="card mt-5" style="width: 16rem;">
          <img src="{{this.image}}" class="card-img-top" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>


      {{/each}}

    </div>
  </div>

</section>
<section>
  <div class="container p-5">
    {{#each products}}
    <ul class="list-group ">
      <li class="list-group-item">{{@index}}.{{this.name}}</li>

    </ul>
    {{/each}}
  </div>
</section>